
body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f9f1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body::-webkit-scrollbar{
    display: none;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 4.5rem !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 20px auto;
}

.plant-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.plant-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h2 {
    color: #2a4b2a;
    margin-bottom: 15px;
}

.price {
    font-weight: bold;
    color: #2a4b2a;
    margin-bottom: 15px;
    font-size: 18px;
}

p {
    color: #4c6b4c;
    margin-bottom: 15px;
}

.details {
    color: #4c6b4c;
    font-size: 14px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    box-sizing: border-box;
}

.plant-card:hover .details {
    display: block;
}

button {
    background-color: #2a4b2a;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect */
button:hover {
    background-color: #1e3d1e;
}
/* .cart{
    position: absolute;
} */